In [1]:
print('Hello Ubuntu')

Hello Ubuntu

In [1]:
a = 4

In [2]:
a

4

In [3]:
a

4

Now we are assigning the value to the

In [6]:
b = 5

In [7]:
b

5

In [8]:
type(b)

int

In [10]:
salary = 18000

pf = 0.40

net_salary = 18000 * 0.40

In [12]:
net_salary

7200.0

In [13]:
net_salary

7200.0

In [16]:
my_age = 12

name = (input("Enter Your Name:"))
print(name)
my_age

Enter Your Name:vaibhav
vaibhav

12

In [17]:
my_age = 12

name = input("Enter Your Name:")
print(name)
print("Hello", name, "Your age is", my_age)

Enter Your Name:Vaibhav
Vaibhav
Hello Vaibhav Your age is 12

In [18]:
my = "Hello"

In [19]:
my [5]

IndexError: string index out of range

In [20]:
my [1]

'e'

In [21]:
ss = "Tinker"

In [23]:
ss[1:4]

'ink'

In [24]:
#

In [25]:
#

In [26]:
name = "Vaibhav"

In [27]:
name

'Vaibhav'

In [28]:
name[5:]

'av'

In [29]:
my_letters = name[5:]

In [30]:
my_letters

'av'

In [31]:
"Soni" + my_letters

'Soniav'

In [32]:
my_letters + "Soni"

'avSoni'

In [33]:
my_letters = name

In [34]:
my_letters

'Vaibhav'

In [35]:
my_letters +  "Soni"

'VaibhavSoni'

In [39]:
my_letters + "Soni"

'VaibhavSoni'

In [40]:
age = 32

In [41]:
print(age)

32

In [42]:
my_age = age

In [43]:
my_age

32

In [44]:
my_age + "Tu vaibhav hai"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
my_age + 3

35

In [46]:
my_age + (str{"Soni"})

SyntaxError: invalid syntax (<ipython-input-46-68c192d029e1>, line 1)

In [47]:
st = "Vaibhav"
print(st)

Vaibhav

In [48]:
my_age + st

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [49]:
data = "name"

In [51]:
data.capitalize()

'Name'

In [52]:
data.upper()

'NAME'

In [53]:
pp = "Vaibhav Soni"

In [54]:
pp.split()

['Vaibhav', 'Soni']